/* General */
:root {
  --my-bg-color: linear-gradient(180deg, #009688 18.50%, #DBDBD3 18.50%);
  --my-white-color: #FFFFFF;
  --my-primary-header-color: #EAEAEA;
  --my-contacts-color: #E9EBEB;
  --my-dark-text: #161012;
  --my-lightgrey-text-color: #C4BBC6;
  --my-lightgrey-icons-color: #B1B1B1;
  --my-lightgreen-msg-color: #D5F9BA;
  --my-lightblue-color: #8EDAFC;
  --my-secondary-lightblue: #F2FBFF;
}

body {
  font-family: 'Lato', sans-serif;
  background: var(--my-bg-color);
}

.h-0 {
  height: 0;
}

#app {
  width: 100%;
  margin: 2rem auto;
  height: calc(100vh - 4rem);
}

/* backgrounds */
.contacts {
  background-color: var(--my-white-color)
}

.header {
  background-color: var(--my-primary-header-color);
}

.chat {
  background-image: url("../img/mine.jpg");
  overflow-y: auto;
}

.notification {
  background-color: var(--my-lightblue-color);
}

.lightGreyBg {
  background-color: var(--my-primary-header-color);
}

.onContact {
  background-color: var(--my-lightgrey-icons-color);
}

.greyHover:hover {
  background-color: var(--my-contacts-color);
}


/* Image and FontAweasome */

.avatar {
  max-width: 60px;
  border-radius: 50%;
  margin: 0.5rem;
}

.fontAwesome {
  font-size: 1.5em;
  padding: 0 0.5rem;
}

.greyIcons {
  color: var(--my-lightgrey-icons-color);
}

.bell {
  color: var(--my-lightblue-color);
  padding: 0.7em;
  background-color: var(--my-secondary-lightblue);
}

/* fonts */
.smallText {
  font-size: 0.8em;
  color: var(--my-lightgrey-text-color)
}

/* sent and received messages */
.sentMsg,
.receivedMsg {
  border-radius: 10px;
  font-size: 0.9em;
  padding: 5px 10px;
}

.sentMsg {
  background-color: var(--my-lightgreen-msg-color);
}

.receivedMsg {
  background-color: var(--my-white-color);
}

.lastMsg {
  margin-bottom: 50px;
}

/* dropDown menu */
.dropdown {
  position: relative;
}

.dropDownMenu {
  display: none;
  position: absolute;
  width: 150px;
  top: 100%;
  right: 0;
  background-color: var(--my-white-color);
  border: 1px solid var(--my-lightgrey-text-color);
  border-radius: 5px;
  z-index: 1000;
  padding: 0 !important;
}

.dropdown .dropDownMenu ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

.dropDownMenu ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropDownMenu ul li:hover {
  background-color: var(--my-lightgrey-text-color);
}