:root {
  --my-bg-color: linear-gradient(180deg, #009688 18.50%, #DBDBD3 18.50%);
  --my-white-color: #FFFFFF;
  --my-primary-header-color: #EAEAEA;
  --my-contacts-color: #E9EBEB;
  --my-dark-text: #161012;
  --my-lightgrey-text-color: #B6BBC1;
  --my-lightgrey-icons-color: #B1B1B1;
  --my-lightgreen-msg-color: #D5F9BA;
  --my-lightblue-color: #8EDAFC;
}

body {
  font-family: 'Lato', sans-serif;
  background: var(--my-bg-color);
}

#app {
  width: 100%;
  margin: 3rem auto;
  height: calc(100vh - 6rem);
}

.contacts {
  background-color: var(--my-white-color)
}

.header {
  background-color: var(--my-primary-header-color);
}

.h-0 {
  height: 0;
}